

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0.1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1800px;
    min-width: 1400px;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.header-content {
    width: 100%;
}

.hide {
    transform: translateY(-100%);
}

.show {
    transform: translateY(0);
}


.logo {
    display: flex;
    align-items: center;
    margin-left: 20px; 
}

    .logo img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }


nav {
    flex: 1;
    max-width: 50%;
}

    nav ul {
        list-style-type: none;
        margin: 0 15px;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: auto;
    }

        nav ul li {
            position: relative;
            display: inline-block;
            margin-right: 20px;
        }
            nav ul li:last-child {
                margin-left: 5px;
            }

            nav ul li a {
                color: #fff;
                text-decoration: none;
                transition: color 0.3s ease;
                font-size: 13px;
            }

                nav ul li a:hover {
                    color: #ffd700;
                }
            nav ul li ul li {
                margin-right: 5px;
            }

.search-bar {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

    .search-bar input[type="text"] {
        padding: 0.3rem;
        width: 300px;
        font-size: 10px;
    }

    .search-bar button {
        background-color: #555;
        color: #fff;
        border: none;
        padding: 0.13rem;
        cursor: pointer;
    }

        .search-bar button i {
            margin-left: 2px;
        }

.user-actions button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 20px;
    margin-right: 100px;
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #333; /* Màu nền submenu */
    padding: 10px;
    z-index: 1;
    top: 40px; /* Khoảng cách từ top của menu chính */
    left: 0;
    width: 220px; /* Độ rộng của submenu */
    border-radius: 10px; /* Bo góc cho submenu */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0; /* Ban đầu ẩn đi */
    transform: translateY(10px); /* Dịch chuyển xuống */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Hiệu ứng mượt mà */
}

    .submenu li {
        display: block;
    }

        .submenu li a {
            color: #fff;
            text-decoration: none;
            padding: 8px 16px;
            display: block;
            transition: background-color 0.3s ease;
        }

            .submenu li a:hover {
                background-color: #555;
            }

nav ul li:hover .submenu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.sub-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #444; /* Màu nền sub-submenu */
    width: 220px; /* Độ rộng của sub-submenu */
    border-radius: 0 10px 10px 0; /* Bo góc cho sub-submenu */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(10px); /* Dịch chuyển xuống */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Hiệu ứng mượt mà */
}

.submenu li:hover .sub-submenu {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

.sub-submenu li {
    display: block;
}

    .sub-submenu li a {
        color: #fff;
        text-decoration: none;
        padding: 8px 16px;
        display: block;
        transition: background-color 0.3s ease;
    }

        .sub-submenu li a:hover {
            background-color: #555;
        }

main {
    padding-top: 30px;
    padding-bottom: 50px;
}

.social-links a {
    color: #fff;
    margin-right: 10px;
}

.hotsale-container {
    display: flex;
    align-items: center;
}

.hotsale-wrapper {
    overflow: hidden;
    width: 100%; 
    margin: 0 auto;
    position: relative;
}

.hotsale {
    display: flex;
    justify-content: space-around;
    transition: transform 0.5s ease-in-out;
}

    .hotsale .product {
        margin: 0px 20px 20px 20px;
        border: 2px solid red;
        padding: 20px 10px 0px 10px;
        display: inline-block;
        width: 200px;
        height: 390px;
        text-align: center;
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease;
    }

    .hotsale .discount {
        background-color: red;
        color: white;
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 5px;
    }

    .hotsale .product-image {
        width: 100%;
        height: 200px;
        object-fit: contain;
        transition: transform 0.3s ease;
    }

    .hotsale .product-image:hover {
        transform: scale(1.1);
        filter: drop-shadow(1px 1px 20px #ff6a33) ;
    }

    .hotsale .product-name {
        font-size: 18px;
        font-weight: bold;
        height: 40px;
    }

    .hotsale .price {
        color: red;
    }

        .hotsale .price .old-price {
            font-size: 14px;
            text-decoration: line-through;
            color: grey;
        }

    .hotsale .buy-button {
        background-color: red;
        color: white;
        border: none;
        padding: 10px;
        width: 100%;
        cursor: pointer;
        transition: transform 0.6s ease;
    }

    .hotsale .buy-button:hover {
        background-color: #ffd700;
        transform: scale(1.2);
    }

    .hotsale .product-link {
        display: block;
        margin-top: 10px;
        color: blue;
        text-decoration: none;
    }


.mostview {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

    .mostview .product {
        text-align: center;
    }

        .mostview .product img {
            width: 100%;
            height: 200px;
            object-fit: contain;
        }

        .mostview .product h2 {
            margin-top: 10px;
            font-size: 18px;
            min-height: 50px;
        }

        .mostview .product p {
            margin: 10px 0;
            font-size: 16px;
        }

        .mostview .product button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }

            .mostview .product button:hover {
                background-color: #45a049;
            }


.banner-container {
    position: relative;
    width: 100%;
    height: 350px;  
    overflow: hidden;
    margin-top: 50px;
}

.banner {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.banner-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.banner-content .btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.banner-content .btn:hover {
    background-color: #45a049;
}

.menu-link {
    text-decoration: none;
    color: #fff;
    font-size: 14px; 
}

div i {
    font-size: 18px; 
    margin-right: 5px; 
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #f8f9fa;
}

.fs-footer {
    max-width: 1200px;
    margin: 0 auto;
}

.f-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fs-ftrow {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.fs-ftcol {
    flex: 1 1 24%;
    margin-right: 20px;
}

.fs-ftcol--custom {
    flex: 1 1 24%;
    margin-right: 20px;
}

.fs-ftul {
    list-style: none;
    padding: 0;
}

    .fs-ftul li {
        margin-bottom: 10px;
    }

    .fs-ftul a {
        color: #333;
        text-decoration: none;
    }

        .fs-ftul a:hover {
            color: #007bff;
        }

.fs-ftrtit {
    font-weight: bold;
    margin-bottom: 10px;
}

.fs-ftr2,
.fs-ftr3 {
    list-style: none;
    padding: 0;
}

    .fs-ftr2 li,
    .fs-ftr3 li {
        margin-bottom: 10px;
    }

    .fs-ftr2 a,
    .fs-ftr3 a {
        color: #333;
        text-decoration: none;
    }

        .fs-ftr2 a:hover,
        .fs-ftr3 a:hover {
            color: #007bff;
        }

.fs-ftbott {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
}

    .fs-ftbott p {
        font-size: 14px;
        color: #666;
        line-height: 1.6;
    }

    .fs-ftbott a {
        color: #007bff;
        text-decoration: none;
    }

        .fs-ftbott a:hover {
            text-decoration: underline;
        }

.ft-wrap {
    white-space: nowrap;
}

.ft-item {
    display: inline-block; 
    vertical-align: top;
    margin-right: 10px; 
}
.ft-item img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}


.separator-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.mostview-link {
    text-decoration: none;
    color: #007bff; /* Màu sắc của liên kết */
    font-weight: bold;
    border: 1px solid #007bff; /* Đường viền của nút */
    padding: 10px 20px; /* Kích thước của nút */
    border-radius: 5px; /* Bo tròn viền của nút */
    transition: all 0.3s ease; /* Hiệu ứng chuyển đổi */
}

.mostview-link:hover {
    background-color: #007bff; /* Màu nền khi rê chuột qua */
    color: #fff; /* Màu chữ khi rê chuột qua */
}

.separator-text {
    font-size: 20px; /* Kích thước chữ */
    font-weight: bold; /* Độ đậm */
    font-family: Arial, sans-serif; /* Font chữ */
    color: #333; /* Màu chữ */
    margin-right: 20px; /* Khoảng cách với phần tử khác */
}

.hotsale-container {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
}

#prevButton, #nextButton {
    top: 50%;
    transition: transform 0.3s ease;
    transform: translateY(-30%);
}

#prevButton {
    left: 5px;
}

#nextButton {
    right: 5px;
}

#prevButton:hover, #nextButton:hover {
    color: #007bff; 
    transform: scale(1.6);
}

#prevButton {
    margin-right: auto; /* Đặt nút "Prev" ở bên trái */
}

#nextButton {
    margin-left: auto; /* Đặt nút "Next" ở bên phải */
}

.navigation-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.navigation-button:hover {
    transform: scale(1.1);
}

.navigation-button:focus {
    outline: none;
}

.navigation-button .fas {
    transition: color 0.7s ease;
}